/**
* ! CSS Variables
**/
:root {
  --primary-color: #22181c;
  --secondary-color: #f13030;
  --white: #f6e8ea;
  --dark: #22181c;
}

/**
* ! Changing Default Browser Styling
**/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

/**
* ! Header Style Rules
**/
header {
  background-color: #22181c;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 25px 5%;
}

header .cart {
  display: flex;
  position: relative;
  gap: 0.5rem;
  background-color: white;
  color: var(--dark);
  padding: 0.35rem;
  font-size: 1.5rem;
  border-radius: 0.35rem;
}

header .cart .cart-amount {
  position: absolute;
  top: -0.95rem;
  right: -0.5rem;

  padding: 0.2rem;
  font-size: 0.9rem;
  background-color: red;
  color: var(--white);
  border-radius: 0.25rem;
}

/**
* ! Shop Products Style Rules
**/

.shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 20px 5%;
  gap: 0.5rem;
}

.shop .product {
  border: 2px solid var(--dark);
  border-radius: 0.25rem;
}

.shop .product img {
  height: auto;
  max-width: 100%;
}

.shop .product .details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.shop .price-quantity {
  display: flex;
  justify-content: space-between;
}

.shop .price-quantity .buttons {
  display: flex;
  align-items: center;
}

.shop .price-quantity .buttons i {
  font-size: 1.2rem;
}
